<% content_for :navbar do %>
  <li><%= link_to 'Community', '', fragment: 'community', class: 'page-scroll' %></li>
<% end %>

<section id="community" class="community">
  <div class="container">
    <div class="row m-b-lg">
      <div class="col-lg-12">
        <div class="navy-line"></div>
        <h1>The HomeKit Community</h1>

        <p class="lead">
          My goal here isn't to just have me telling you a bunch of stuff about
          HomeKit. I want to foster a community where we can all help each
          other to awesomely automate our homes. With that in mind, I've set up
          a couple of things, which might become places we can chat togher:
        </p>

        <ul>
          <li>
            <p class="lead">
              There's a Google Group for
              <%= link_to 'The HomeKit Community', 'https://groups.google.com/a/homekit.family/forum/#!forum/community' %>
              where we can discuss all things HomeKit-related (perhaps even
              only tangentially related!).
            </p>
          </li>

          <li>
            <p class="lead">
              There's a Facebook page, too:
              <%= link_to 'The HomeKit Family', 'https://business.facebook.com/The-HomeKit-Family-228335017553346' %>.
              I'm not sure whether there should be a Facebook Group, too, or if
              that's overkill. Your opinion is welcome!
            </p>
          </li>
        </ul>
      </div>
    </div>

    <div class="row m-b-lg" id="mailing-list">
      <div class="col-lg-12">
        <div class="navy-line"></div>
        <h2>Mailing List</h2>

        <p class="lead">
          If you'd like to be kept up to date with new articles, products and
          apps around HomeKit, the best way is to sign up to the mailing list.
          I'll aim to send emails out about once a month with the latest news
          on HomeKit from here and around the web.
        </p>

        <div id="mc_embed_signup" style="padding-top: 3em">
          <form action="<%= config[:mailchimp_url] %>" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-horizontal" novalidate>

            <div class="mc-field-group form-group form-group-lg">
              <label class="col-sm-4 control-label" for="mce-FNAME">First Name</label>
              <div class="col-sm-6">
                <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="Johnny">
              </div>
            </div>

            <div class="mc-field-group form-group form-group-lg">
              <label class="col-sm-4 control-label" for="mce-LNAME">Last Name</label>
              <div class="col-sm-6">
                <input type="text" value="" name="LNAME" class="form-control" id="mce-LNAME" placeholder="Appleseed">
              </div>
            </div>

            <div class="mc-field-group form-group form-group-lg">
              <label class="col-sm-4 control-label" for="mce-EMAIL">Email Address</label>
              <div class="col-sm-6">
                <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="john.appleseed@apple.com">
              </div>
            </div>

            <div class="mc-field-group form-group">
              <div class="col-sm-6 col-sm-offset-4">
                <div class="checkbox" style="text-align: left">
                  <label>
                    <% gid = config[:mailchimp_group_id] %>
                    <input type="hidden" value="2" name="group[<%= gid %>]" id="mce-group[<%= gid %>]-<%= gid %>-1">
                    <input type="checkbox" checked="checked" value="1" name="group[<%= gid %>]" id="mce-group[<%= gid %>]-<%= gid %>-0">
                    Yes, I'd like to hear occasional announcements about other Wossname Industries projects!
                  </label>
                </div>
              </div>
            </div>

            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="<%= config[:mailchimp_antispam] %>" tabindex="-1" value="">
            </div>

            <div class="form-group" style="text-align: left">
              <div class="col-sm-6 col-sm-offset-4">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-lg">
              </div>
            </div>
          </form>
        </div>

        <p>
          It ought to go without saying, but I'll say it anyway: I will not
          sell your email address to the highest bidder. In fact, I won't sell
          it to anyone. It's just between you, me, and MailChimp!
        </p>
      </div>
    </div>
  </div>
</section>
