---
layout: landing-page
sitemap_priority: 1.0
---
<% content_for :navbar do %>
  <li><%= link_to 'Home', '', fragment: 'page-top', class: 'page-scroll' %></li>
<% end %>

<section id="welcome" class="features navy-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Welcome to the HomeKit Family</h1>

        <p class="lead">
          I’ve always dreamed of having a “smart” house, where I can control
          the home environment through technology. I’ve had this dream for
          longer than I’ve owned a mobile phone, so it started out with wanting
          to control my bedroom lights from my PC. I dimly recall building a
          breakout box for the parallel port, wiring it up to some relays, and
          writing some x86 assembly to control them. For some reason, my
          parents weren’t too keen on me switching mains electricity though, so
          the project never made it to completion.
        </p>

        <p>
          But it’s about more than just controlling the lights. I have this
          crazy idea that collecting data about the home environment will allow
          us to make more intelligent decisions about controlling it. So, for
          example, it would be nice to switch lights on in the home if there’s
          somebody in the room, and it’s getting a bit dark. It takes a bit of
          time for the central heating to bring the house up to a comfortable
          temperature, so an intelligent home needs to know when to kick in the
          heating such that the rooms are up to temperature when we get out of
          bed. It would be awesome to be able to switch everything off when
          everybody leaves the house, and to switch things back on when
          somebody comes home.
        </p>

        <p>
          With Apple’s HomeKit this dream is finally becoming a reality,
          mostly. Right now, I can yell, “Hey, Siri, turn on the living room
          lights!” and I get my wish (complete with a snarky reply — Siri is
          delightfully … human!). It’s still pretty early days — I suspect I’m
          catching the tail end of the innovators in the innovation adoption
          lifecycle — but right now it’s possible to buy off the shelf devices
          that will allow you to control lighting and heating, and we can learn
          something about the home by measuring its environment on a detailed
          level.
        </p>

        <p>
        HomeKit is a pretty new technology, and there's not much on the
        Internet about it right now. I thought I'd help out by gathering the
        resources from my research into one places, here, so that you can find
        out all about it. I've got my own <%= link_to 'articles', '#articles' %>
        that I've written on the topic, some
        <%= link_to 'links to articles elsewhere on the web', '#links' %>, and
        a catalogue of all the <%= link_to 'products', '#products' %> and
        <%= link_to 'apps', '#apps' %> that currently exist. If there's
        anything you know of that's missing from here, please do
        <%= link_to 'get in touch', '#contact' %> to let me know!
      </div>
    </div>
  </div>
</section>

<%= partial 'landing-page/contact' %>
